@import url('../../variables.css');

.nav {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  padding: 1rem 3rem;
  background-color: var(--nav-bg-color);
  color: var(--nav-text-color);
  height: 3rem;
}

.navBlock {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.link {
  color: var(--nav-text-color);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
