.movieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  background-color: var(--main-bg-color);
  padding: 1rem;
}

.container {
  background-color: var(--main-bg-color);
}
